.tokens-grid{
  width: 100%;
  font-family: sans-serif;
  color: #fff;
  border-collapse: collapse;

}


.tokens-grid thead td{
  paddding: 0.75rem 1rem;
  color: #ccc;

}

.tokens-grid thead td:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.tokens-grid thead td:las-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tokens-grid tbody tr:nth-child(even) td{
  background: #444
}